footer{
  background: #151515;
  color: #fff;
  
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 2rem;
  }

  h3{
    font-size: 2rem;
    flex: 2;
  }

  div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    margin-left: 1rem
  }
}